.checkout-page {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto  auto;
    padding: 2em;
}


.checkout-page .checkout-items {
    width: 100%;
}

.checkout-items, .checkout-items div {
    display: flex;
    justify-content: space-between;
}

.checkout-items {
    flex-direction: column;
}

.checkout-items div, .checkout-items button {
    background: #54A4CC;
    color: white;
    padding: .8em 2em;
    font-size: 12px;
    margin-top: 40px;
    border: none;
    width: 100%;
}

.checkout-items button {
    padding: 1em 2em;
}
