.checkout-page {
    display: flex;
    flex-direction: column;
}
.checkout {
    display: flex;
    padding: 2em;
}

.checkout-page .checkout-items {
    align-self: flex-end;
    margin-right: 110px;
}

.checkout-items, .checkout-items div {
    display: flex;
    justify-content: space-between;
}

.checkout-items {
    flex-direction: column;
}

.checkout-items div, .checkout-items button {
    background: #54A4CC;
    color: white;
    padding: .6em 2em;
    font-size: 12px;
    width: 250px;
}

.checkout-items button {
    border: none;
    padding: 1em 2em;
    margin-top: 40px;
}
